<div class="row">
  <div class="col-12 col-md-6 mx-md-auto">
    <div *ngIf="isLoading" style="text-align: center;">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <div class="alert alert-danger" *ngIf="error">
      <p>{{ error }}</p>
    </div>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
      <div class="mb-3">
        <label for="email" class="form-label">E-Mail</label>
        <input type="email" id="email" class="form-control" ngModel name="email" required email />
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" id="password" class="form-control" ngModel name="password" required minlength="7" />
      </div>

      <div>
        <button type="submit" class="btn btn-primary me-2" type="submit" [disabled]="!authForm.valid">
          {{ isLoginMode ? 'Login' : 'Sign Up' }}
        </button>
        <button type="button" class="btn btn-primary" type="submit" (click)="onSwitchMode()">
          Switch to {{ isLoginMode ? 'Sign up' : 'Login' }}
        </button>
      </div>
    </form>
  </div>
</div>
